<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>

			<title>Home</title>

			<!-- Styles -->
			<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		</head>
	<body>

		<h1>Bem vindo!</h1>

	</body>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>	
	<script src="js/bootstrap.min.js"></script>
</html>